{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}

    <h1 class="text-center">Créer une nouvelle commande</h1><br/>

    {{ include('command/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_command_index') }}">Retour a la liste des commandes t</a>
{% endblock %}
